/* html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #16181d;
}

body,
html,
#root {
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root > div {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#root > div > svg {
  width: 550px;
} */
 /* svg {
  width: 600px;
  margin-left: 27rem;
  margin-top: 15rem;
  cursor: pointer;
} */
